ubiquitous-computing/lab-3/Exercise3/exercise-3.json
[
    {
        "id": "a9d6674f6dea7a1e",
        "type": "tab",
        "label": "Exercise 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6be865c4d1708f16",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3"
        }
    },
    {
        "id": "6ef1c7eb19cc1177",
        "type": "mqtt-broker",
        "name": "",
        "broker": "e6d036a4f1c044e78c859391879489ec.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "6d3a5ac7235dfc16",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6d3a5ac7235dfc16",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "e6d036a4f1c044e78c859391879489ec",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "b79d21036e08d1dd",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "0e332cb2d8227e4f",
        "type": "mqtt in",
        "z": "a9d6674f6dea7a1e",
        "name": "",
        "topic": "Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6ef1c7eb19cc1177",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 100,
        "wires": [
            [
                "931f38e549d5e011"
            ]
        ]
    },
    {
        "id": "931f38e549d5e011",
        "type": "debug",
        "z": "a9d6674f6dea7a1e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 100,
        "wires": []
    },
    {
        "id": "dc6497bbcd94b80e",
        "type": "serial in",
        "z": "a9d6674f6dea7a1e",
        "name": "",
        "serial": "b79d21036e08d1dd",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "6751a3c974ec136f"
            ]
        ]
    },
    {
        "id": "6751a3c974ec136f",
        "type": "mqtt out",
        "z": "a9d6674f6dea7a1e",
        "name": "",
        "topic": "Temperature",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6ef1c7eb19cc1177",
        "x": 370,
        "y": 160,
        "wires": []
    }
]