ubiquitous-computing/lab-2/assets/exercise-3.json
[
    {
        "id": "5ffffc09647619d6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "04dac70a6a2eb666",
        "type": "http request",
        "z": "5ffffc09647619d6",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 230,
        "y": 5080,
        "wires": [
            [
                "3dcb5704c4f75821"
            ]
        ]
    },
    {
        "id": "e6f6839957371e8f",
        "type": "inject",
        "z": "5ffffc09647619d6",
        "name": "inject",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 5080,
        "wires": [
            [
                "04dac70a6a2eb666"
            ]
        ]
    },
    {
        "id": "3dcb5704c4f75821",
        "type": "csv",
        "z": "5ffffc09647619d6",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 390,
        "y": 5080,
        "wires": [
            [
                "3a2a5ce279237474",
                "cf7a3e1fbe33b92c"
            ]
        ]
    },
    {
        "id": "3a2a5ce279237474",
        "type": "debug",
        "z": "5ffffc09647619d6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 5040,
        "wires": []
    },
    {
        "id": "509d2386f3b369d3",
        "type": "debug",
        "z": "5ffffc09647619d6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 5100,
        "wires": []
    },
    {
        "id": "cf7a3e1fbe33b92c",
        "type": "switch",
        "z": "5ffffc09647619d6",
        "name": "Switch",
        "property": "payload.mag",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 5100,
        "wires": [
            [
                "6c63f1bb91a27a91"
            ]
        ]
    },
    {
        "id": "6c63f1bb91a27a91",
        "type": "change",
        "z": "5ffffc09647619d6",
        "name": "Change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PANIC!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 5100,
        "wires": [
            [
                "509d2386f3b369d3"
            ]
        ]
    }
]