ubiquitous-computing/lab-3/assets/exercise-1.json
[
    {
        "id": "fa69a580366f6cce",
        "type": "tab",
        "label": "Exercise 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e18bacd8507537d1",
        "type": "ui-switch",
        "z": "fa69a580366f6cce",
        "name": "",
        "label": "switch",
        "group": "9675196035ab3153",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "505006bcfa15d6a9"
            ]
        ]
    },
    {
        "id": "505006bcfa15d6a9",
        "type": "serial out",
        "z": "fa69a580366f6cce",
        "name": "Serial_Out",
        "serial": "",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "d8210d02533e9936",
        "type": "inject",
        "z": "fa69a580366f6cce",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "505006bcfa15d6a9",
                "e7541fda366b20d8"
            ]
        ]
    },
    {
        "id": "1082d3e4bf37a5d1",
        "type": "inject",
        "z": "fa69a580366f6cce",
        "name": "0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "505006bcfa15d6a9",
                "e7541fda366b20d8"
            ]
        ]
    },
    {
        "id": "e7541fda366b20d8",
        "type": "debug",
        "z": "fa69a580366f6cce",
        "name": "SEND",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 160,
        "wires": []
    },
    {
        "id": "48ddfaab7edabf95",
        "type": "serial in",
        "z": "fa69a580366f6cce",
        "x": 90,
        "y": 260,
        "wires": [
            [
                "08e2e08cf4d5527d",
                "6666b2da567b66e4"
            ]
        ]
    },
    {
        "id": "08e2e08cf4d5527d",
        "type": "ui_led",
        "z": "fa69a580366f6cce",
        "order": 0,
        "group": "ui_group",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "red",
                "value": false,
                "valueType": "bool"
            },
            {
                "color": "green",
                "value": true,
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "6666b2da567b66e4",
        "type": "debug",
        "z": "fa69a580366f6cce",
        "name": "IN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 280,
        "wires": []
    },
    {
        "id": "9675196035ab3153",
        "type": "ui-group",
        "name": "Group 1",
        "page": "fc1332c4928b8e61",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "fc1332c4928b8e61",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "2218c2eab20a5ec1",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "83293ca8d805e632",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "2218c2eab20a5ec1",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "83293ca8d805e632",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ba7c88f51f5d35ae",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0",
            "node-red-node-serialport": "2.0.3",
            "node-red-contrib-ui-led": "0.4.11"
        }
    }
]