ubiquitous-computing/lab-3/assets/exercise-2.json
[
    {
        "id": "6c67318878f26588",
        "type": "tab",
        "label": "Exercise 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5c6af00c2c31a22e",
        "type": "serial in",
        "z": "6c67318878f26588",
        "name": "Temperature Sensor",
        "serial": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "19a9ec8acbbb219b",
                "84f53056f5f58eb7",
                "224a5727d20b2ce3"
            ]
        ]
    },
    {
        "id": "19a9ec8acbbb219b",
        "type": "debug",
        "z": "6c67318878f26588",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "84f53056f5f58eb7",
        "type": "ui_gauge",
        "z": "6c67318878f26588",
        "name": "Temperature",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 140,
        "wires": []
    },
    {
        "id": "224a5727d20b2ce3",
        "type": "ui_chart",
        "z": "6c67318878f26588",
        "name": "Temperature Course",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f32dfb1ced8d3290",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "node-red-dashboard": "3.6.6"
        }
    }
]