ubiquitous-computing/lab-3/Exercise1/.exercise-1.json.backup
[
    {
        "id": "fa69a580366f6cce",
        "type": "tab",
        "label": "Exercise 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "58e48c25d7f579bd",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "1",
        "bin": "false",
        "out": "count",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "1b4497793b99669a",
        "type": "ui_tab",
        "name": "LED",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "91cef5351832948d",
        "type": "ui_group",
        "name": "Light Control",
        "tab": "1b4497793b99669a",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "505006bcfa15d6a9",
        "type": "serial out",
        "z": "fa69a580366f6cce",
        "name": "Serial_Out",
        "serial": "58e48c25d7f579bd",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "d8210d02533e9936",
        "type": "inject",
        "z": "fa69a580366f6cce",
        "name": "1",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "505006bcfa15d6a9",
                "e7541fda366b20d8"
            ]
        ]
    },
    {
        "id": "1082d3e4bf37a5d1",
        "type": "inject",
        "z": "fa69a580366f6cce",
        "name": "0",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "505006bcfa15d6a9",
                "e7541fda366b20d8"
            ]
        ]
    },
    {
        "id": "e7541fda366b20d8",
        "type": "debug",
        "z": "fa69a580366f6cce",
        "name": "SEND",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 160,
        "wires": []
    },
    {
        "id": "48ddfaab7edabf95",
        "type": "serial in",
        "z": "fa69a580366f6cce",
        "name": "Serial_in",
        "serial": "58e48c25d7f579bd",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "08e2e08cf4d5527d",
                "6666b2da567b66e4"
            ]
        ]
    },
    {
        "id": "08e2e08cf4d5527d",
        "type": "ui_led",
        "z": "fa69a580366f6cce",
        "order": 0,
        "group": "91cef5351832948d",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "str"
            },
            {
                "color": "#808080",
                "value": "0",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "6666b2da567b66e4",
        "type": "debug",
        "z": "fa69a580366f6cce",
        "name": "IN",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 280,
        "wires": []
    },
    {
        "id": "b1428f0ca7fe8940",
        "type": "ui_switch",
        "z": "fa69a580366f6cce",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "91cef5351832948d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "505006bcfa15d6a9"
            ]
        ]
    }
]